.bitcoinHead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  font-family: Avenir,sans-serif;
  h3 {
    span {
      a {
        color: #b59e3c;
      }
    }
  }
  h4 {
    color: rgb(104, 105, 100);
  }
  p {
    margin-top: -0.501em;
    font-family: Avenir,sans-serif;
    
  }
  #updTime{
    margin-top: -0.3em;
    font-size: 0.9em;
  }
}
