section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0em;
  margin-left: 0em;
  width: 100%;

  h1 {
    margin-top: 7em;
    color: #000000;
  }
}

Footer {
  margin-left: 0.5em;
  width: 99vw;
}

@media only screen and (max-width: 1508px) {
  Footer {
    margin-left: 0.7em;
    width: 98vw;
  }
}
@media only screen and (max-width: 908px) {
  Footer {
    margin-left: 0.8em;
    width: 97vw;
  }
}
@media only screen and (max-width: 660px) {
  Footer {
    margin-left: 0.8em;
    width: 96vw;
  }
}
@media only screen and (max-width: 550px) {
  Footer {
    margin-left: 0em;
    width: 98.5vw;
  }
}
