section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: 1em;

  h1 {
    color: #b59e3c;
    margin-bottom: 15px;
    margin-top: 40px;
    font-family: FelixTitlingMTStd,Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    letter-spacing: .9px;
    text-transform: uppercase;
  }
  p {
    margin-left: 35px;
    font-size: 1.4rem;
    color: #321320;
    font-family: InterFace-Regular,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    line-height: 1.5;
  }
}

Footer {
  margin-left: 0.5em;
  width: 99vw;
}

@media only screen and (max-width: 1508px) {
  Footer {
    margin-left: 0.7em;
    width: 98vw;
  }
}
@media only screen and (max-width: 908px) {
  Footer {
    margin-left: 0.8em;
    width: 97vw;
  }
}
@media only screen and (max-width: 660px) {
  Footer {
    margin-left: 0.8em;
    width: 96vw;
  }
}
@media only screen and (max-width: 550px) {
  Footer {
    margin-left: 0em;
    width: 98.5vw;
  }
}
