.bitcoinHead {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  h2 {
    span {
      a {
        color: #b59e3c;
      }
    }
  }
  h3 {
    margin-top: -0.801em;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
