main {
  h2 {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .countries {
    list-style-type: none;
    display: grid;

    flex-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 17%));
    gap: 0rem 1rem;
    justify-content: center;
    margin-right: 4.2em;

    li {
      width: 100%;
      background: rgb(245, 242, 242);
      /* padding: 2rem 2rem; */
      border: 0.1em solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 1em 0em 1em;

      div {
        img {
          width: 50px;
          height: 40px;
          margin: 1em 0em 0em 0.4em;
          /* margin-right: 1rem; */
        }
        h4 {
          margin-bottom: 1rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .btnHotels {
    display: flex;
    justify-content: center;

    button {
      padding: 0.5em;
      color: white;
      font-size: 1em;
      background-color: black;
      cursor: pointer;
      &:hover {
        color: rgb(212, 192, 78);
      }
    }
  }
  #hotelList {
    display: none;
    align-items: center;
    flex-direction: column;
    ul {
      list-style-type: none;
      display: grid;
      flex-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(350px, 28%));
      gap: 1rem 1rem;
      justify-content: center;
      margin-right: 1em;

      li {
        margin-top: -0.5em;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        width: 100%;
        background: rgb(245, 242, 242);
        justify-content: center;
        p {
          span {
            color: rgb(212, 192, 78);
          }
        }
      }
    }
    h4 {
      margin-top: 0em;
      a {
        color: rgb(15, 15, 13);
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  main {
    .countries {
      grid-template-columns: repeat(auto-fit, minmax(110px, 17%));
      gap: 0rem 1rem;
      margin-right: 3em;
      li {
        width: 100%;
        background: rgb(245, 242, 242);
        /* padding: 2rem 2rem; */
        border: 0.1em solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 1em 0em 1em;

        div {
          img {
            width: 50px;
            height: 40px;
            margin: 1em 0em 0em 0.4em;
            /* margin-right: 1rem; */
          }
          h4 {
            margin-bottom: 1rem;
          }
        }
      }
    }
    #hotelList {
      ul {
        grid-template-columns: repeat(auto-fit, minmax(275px, 28%));
        gap: 1rem 0rem;
        margin-right: 2em;
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  main {
    .countries {
      grid-template-columns: repeat(auto-fit, minmax(110px, 20%));
      gap: 0rem 0rem;
      margin-right: 3em;

      li {
        width: 80%;
        background: rgb(245, 242, 242);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 1em 0em 1em;

        div {
          img {
            width: 50px;
            height: 40px;
            margin: 1em 0em 0em 0.4em;
            /* margin-right: 1rem; */
          }
          h4 {
            margin-bottom: 1rem;
          }
        }
      }
    }
    #hotelList {
      ul {
        grid-template-columns: repeat(auto-fit, minmax(300px, 40%));
        gap: 0rem 0.5rem;
        margin-right: 2em;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  main {
    .countries {
      grid-template-columns: repeat(auto-fit, minmax(110px, 22%));
    }
    #hotelList {
      ul {
        grid-template-columns: repeat(auto-fit, minmax(230px, 40%));
        gap: 0rem 0rem;
      }
    }
  }
}
