@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
}

header h2 {
  font-family: "Poppins";
}

header form {
  margin-right: 21em;
  margin-left: 21.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header form .myComment img {
  margin-right: 0.75em;
  margin-bottom: 1.9em;
}

header form .myComment textarea {
  width: 50em;
  height: 5.5em;
}

header form .btn-comments {
  margin-left: 3.3em;
}

header form #new-comment {
  margin-top: 1em;
}

header form #new-comment div {
  margin-top: 2.3em;
}

header form #new-comment div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header form #new-comment div div img {
  border-radius: 20%;
  margin-right: 0.5em;
  width: 40px;
  height: 50px;
}

header form #new-comment div div h5 {
  margin-top: 1em;
}

header form #new-comment div div h5 i {
  margin-left: 1em;
  cursor: pointer;
  color: #43753f;
}

header form #new-comment div h4 {
  margin-top: 0.75em;
  color: #555554;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header form .oldComments .oldOld {
  margin-bottom: 0.5em;
}

header form .oldComments .oldOld .oldComment {
  margin-top: -0.5em;
  color: #555554;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header form .oldComments .oldOld div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header form .oldComments .oldOld div h5 {
  margin-top: 2.5em;
}

header form .oldComments .oldOld div h5 #closeCom {
  margin-left: 1em;
  cursor: pointer;
  color: #43753f;
}

header .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 46.5em;
}

header .likes .btn2 {
  margin-top: 1em;
  height: 25px;
  margin-right: 0.2em;
  background-color: #f9fcfb;
  border-radius: 10px;
  margin-left: 1.5em;
}

header .likes .btn {
  margin-top: 1em;
  height: 25px;
  margin-right: 0.2em;
  background-color: #fbffff;
  border-radius: 10px;
}

.hideMyComment {
  display: none;
}

@media only screen and (max-width: 1422px) {
  header #comments {
    margin-right: 15em;
    margin-left: 13.5em;
  }
  header #comments .myComment textarea {
    width: 45em;
    height: 5.5em;
  }
}

@media only screen and (max-width: 1170px) {
  header #comments {
    margin-right: 12em;
    margin-left: 6em;
  }
  header #comments .myComment textarea {
    width: 47em;
    height: 5.5em;
  }
}

@media only screen and (max-width: 1028px) {
  header .mainImage {
    width: 800px;
    height: 410px;
  }
  header .likes {
    margin-right: 36.5em;
  }
  header #comments {
    margin-right: 8em;
    margin-left: 6.5em;
  }
  header #comments .myComment textarea {
    width: 40em;
    height: 5.5em;
  }
}

@media only screen and (max-width: 840px) {
  header .mainImage {
    width: 670px;
    height: 350px;
  }
  header .likes {
    margin-right: 28.5em;
  }
  header #comments {
    margin-right: 3em;
    margin-left: 5em;
  }
  header #comments .myComment textarea {
    width: 37em;
    height: 5.5em;
  }
}

@media only screen and (max-width: 700px) {
  header .mainImage {
    width: 600px;
    height: 300px;
  }
  header .likes {
    margin-right: 24em;
  }
  header #comments {
    margin-right: 2em;
    margin-left: 2.5em;
  }
  header #comments .myComment img {
    margin-bottom: 1.4em;
  }
  header #comments .myComment textarea {
    width: 30em;
    height: 5em;
  }
}

@media only screen and (max-width: 630px) {
  header .mainImage {
    width: 520px;
    height: 280px;
  }
  header .likes {
    margin-right: 19em;
  }
  header #comments {
    margin-right: 1em;
    margin-left: 2.5em;
  }
  header #comments .myComment img {
    margin-bottom: 1.4em;
  }
  header #comments .myComment textarea {
    width: 30em;
    height: 5em;
  }
}

@media only screen and (max-width: 550px) {
  header .mainImage {
    width: 460px;
    height: 255px;
  }
  header .likes {
    margin-right: 15.3em;
  }
  header #comments {
    margin-right: 1em;
    margin-left: 1em;
  }
  header #comments .myComment textarea {
    width: 29em;
    height: 5em;
  }
}
/*# sourceMappingURL=Header.css.map */