nav {
  display: flex;
  background-color: rgb(67, 117, 63);
  margin-left: 0.5em;
  margin-top: 1em;
  margin-right: 0.5em;

  border-radius: 5px;
}
nav .navbar-items {
  color: azure;
  display: flex;
  list-style-type: none;
}

nav .navbar-items li {
  margin-right: 1em;
  font-size: 1.3em;
}

.menu-btn {
  margin: 1em;
  font-size: 1.3em;
}
